.navbar-nav a {
  color: grey;
}

.navbar-nav a:hover {
  color: white;
}

.container-fluid {
  background-color: black;
}

.navbar {
  height: 100px;
}

.icone {
  background-color: black;
}

@media screen and (max-width: 991px) {
  .navbar {
    height: 150px;
  }
}