.homePage {
  color: white;
}

.titreHome {

  animation-name: titre;
  animation-duration: 6s;
}

@keyframes titre {
  from {

    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

/* body {
  background: url("../../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */