/* body {
  background: url("../../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

.homePage {
  color: white;
}